* {
    padding: 0%;
    flex-wrap: wrap;
}

html {
    font-family: 'Montserrat', sans-serif;       /* <-------        fuente de la web */
}

body {
    margin: 0;
    background-color: #efefef;       /* <-------        fondo de la web */
}

header {
    text-align: left;
    color: #f0f8ff;
    height: 140px;
    background:linear-gradient(#1cbaa4 25%,#efefef);   /* <-------   fondo navegacion */
    align-items: center;
    float:none;
    padding: 10px;
    min-height: 140px;
}

.container-fluid{
    justify-content: space-around;
    background-color: transparent;
}


.logotipo {
    image-orientation:from-image;   /* <-------   logo pagina */
    display: flex;
    align-items:center;
    float: left;
}

.logoPage {
    height: 90%;
    align-items: center;           /* <-------   logo pagina */
    float: left;
    border-left: 50%;
}

.menu {
    text-align: right;
    list-style: none;
    padding: 0%;
    width: 65%;
    max-width: 900px;
    margin: 0;
    margin-top: 45px;
}

ul {
    font-weight: 600;
    text-decoration: none;
    float: right;


}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    float: right;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #119785; 
    box-shadow: 2px 2px 7px 1px #224742;   
}

.qSomos{
    text-align: left;
    padding-left: 20px;
}

.textoPrincipal{
    text-align: center;
    color: rgb(4, 51, 51);
    font-size: 27px;
}

.quienesSomos{
    text-align: left;
}

.parrafo{
    text-align: left;
    text-decoration: none;
    padding: 0;   
    
}

.linkimg{
    text-align: right;
    margin-right: 90px;
    margin-top: -85px;
    float: right;
}

.linkimgTexto{
    margin-right: 17px;
    float: right;
}

aside .pExtra{
    font-size: 12px;
    text-align: right;
    float: right;
    margin-right: -200px;
    margin-top: 5px;

}

.linkimg{
    display: flex;
    flex-direction: column;
}

.pquienesSomos{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

aside .pExtra{
    padding-right: 135px;
}

.queHacemos{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 85px;
}

.mb-4{
    padding: 0 4rem 0 4rem;
}

.btn{
    color: white;
    background-color: #119785;
    border-color:#119785;
    align-items: center;
}
section .parrafo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 185px;
    padding-right: 20px;
}

.coraje {
    margin-top: -248px;
    padding-left: 20px;
}

.diseños{
    text-align: center;
    flex-direction: column
}

.footer{
    background-color: #1cbaa4;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.fDerecha{
    display: flex;
    justify-content: space-between;
}

.fDerecha a{
    color: white;
}

.redes{
    display: flex;
    align-items: center;
    padding-right: 30px;

}

footer p{
    font-size: 12px;
    text-decoration: none;
    border: none;
}

                                            /* Css de html quienes somos */

.titulo{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.subtituloQs{
    text-align: center;
}

.tituloTexto{
    padding-left: 10px;
}

.textoQs{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.textoP{
    display: flex;
    justify-content: space-between;
}

.personaje{
    border: none;
    display: flex;
    align-items: flex-end;
    height: 250px;
}

.textoSuperior{
    margin: 0;
    padding-right: 10px;
}

.textoInferior{
    padding-left: 10px;
    font-size: 15px;
    border: 0;
    margin: 0;
}

.tituloPublicidad{
    display: flex;
    flex-direction: column
}

.imagenQs{
    display: flex;
}

.textoPublicidad{
    display: flex;
    padding-left: 10px;
    margin: 0;
    font-size: 15px;
}

.lorem{
    text-align: center;
}

                                    /* Css de html Que Hacemos */

.imgQh{
    border: none;
    display: flex;
    height: 170px;
    align-items: flex-end;
    justify-content: space-around;
}
    
.hamburguesaLogo{
    border-radius: 70px;
}

.simba{
    border-radius: 22px;
}

.queHacemos{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.tituloQh{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-left: 10px;
}

.parrafoQh{
    padding-right: 10px;
    padding-left: 10px;
}

.interesQh{
    text-align: center;

}

.bloqueInteres{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.backgroundFieldset{
    background-color: #3da798;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

                                   /* CSS del html Diseños */

.textoDisenos{
    padding-left: 40px;
    padding-right: 40px;
}

.disenosLogotipos{
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

div h3{
    text-align: center;
    font-size: large;
}

.disenosPp{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    border: 0;
    padding-left: 170px;
}

.tituloPp{
    text-align: center;
    padding-top: 30px;
}