/*Colores*/
$color-nav:#009941bd;
$color-nav-ul:#7de0a6fa;
$color-black:black;
$color-black-claro:#00000061;
$color-h3:#41963a;
$color-p-qh:#e0b159;
$color-white:#fff;
$bg-color-card-index:#0aa044c5;
$color-link-card:#f3f3f3;
$color-icons-footer:#02e272;
$color-text-footer:#264734;
$color-menu-hover:#a8fac3;

/*Tamaños*/
$size-sm:10px;
$size-m:30px;
$size-l:50px;
$all:100%;

/*Espaciados*/
$large:5rem;
$medium:3rem;
$small:1rem;

/*Centrado*/
$center: center;

/*Map redes*/

$map-color:(
    "az":#1877f2,
    "ro":#e60073,
    "ver":#25d366
);
.icon:hover{
    color:map-get($map-color,"az");
}
.icon:hover:nth-child(2){
    color:map-get($map-color,"ro");
}
.icon:hover:nth-child(3){
    color:map-get($map-color,"ver");
}