* {
    margin: 0;
    padding: 0!important;
}

html {
    font-family: 'Montserrat', sans-serif;       /* <-------        fuente de la web */
}

body {
    margin: 0;
    background-image: url(/assets/img/background.jpg);       /* <-------        fondo de la web */
    background-size: 100%;
}

/*navbar*/

.navbar-expand-lg{
    background-color: #009941bd;
}

.nav-item{
    padding: 0;
    padding-left: 1rem;
}

.bg-light{
    background-color: #7de0a6fa!important;
}

.ms-auto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding:0 1rem 0 1rem;
}

.navbar-nav{
    font-size: large;
    align-items: center;
}

#navbarSupportedContent{
    padding-right: 2vh!important;
}

.d-flex{
    padding-right: 3vh!important;
}

div .navbar-nav{
    padding: 10px;
}

nav div .navbar-nav #iconos-redes{
    margin: 1rem;
    font-size: 25px;
    color: black;
}
/*Que hacemos page*/

section .subtituloQs,
.textoDisenos{
    text-align: center;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

section h3{
    font-size: 35px;
    color: #41963a;
}

.textoSuperior{
    padding: 3rem!important;
}

.imagenQs,
.textoInferior{
    padding: 3rem!important;
}

.imgQh{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.imgQh img{
    margin: 1rem;
    border: 10px;
    border-radius: 5rem;
}

.imgQh p{
    font-size: 20px;
    color: #e0b159;
}

.checkboxform{
    font-size: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Articulo1 index*/
.container{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    }
    .mytext1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #7de0a6fa;
    position: relative;
    animation: text 3s 1;
    }
    .mytext2{
    font-size: 30px;
    color: #81f83c;
    font-weight: bold;
    font-family: cursive;
    }
    @keyframes text {
    0%{
    color: black;
    margin-bottom: -40px;
    }
    30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
    }
    85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
    }
}

#text-center{
    text-align: center;
}

div .media-body{
    padding: 1rem;
}

.media{
    padding: 1rem;
}

fieldset .mb-12{
    margin: 5rem;
}

section .md-form{
    padding: 1rem!important;
}

div .btn{
    color:white!important;
    font-size: 20px;
}
/* articulo2 */

.card-title, .card-text{
    text-align: center;
}

.conteiner-coraje 
.card 
.card-body{
    background-color: #f8bf6994!important;
}

#card-body-coraje{
    background-color: none!important;
}

.img-center{
    text-align: center!important;
    padding: 0.5rem!important;
}

.btn-sl{
    padding: 1rem!important;
}

.card-text{
    padding-top: 2rem!important;
}

#tipo-letra{
    font-size: larger;
    font-family: sans-serif;
}

.conteiner-coraje #tipo-letra{
    font-size: medium;
}

.conteiner-recreacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.disenosLogotipos,
.disenosPp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divwrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
}

#poster-portada,
#persona,
#banners,
#subrealismo,
#wallpapers{
    justify-content: space-evenly;
}

/*Cards-flip*/

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.divwrap div .card{
    position: relative;
    height: 380px!important;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(10, 160, 68, 0.774);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*carroussel*/

.carousel-item img{
    width: 33%!important;
    justify-items: center!important;
}

.boton-galeria{
    text-align: center!important;
}

/*Footer*/

.footer {
    background-color: #009941bd;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px!important;
    margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* footer left*/

.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

.footer .about {
    line-height: 20px;
    color: #264734;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.footer .about span {
    display: block;
    color: #264734;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #02e272;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
    width: 30%;
}

.footer .footer-center i {
    color: #02e272;
    font-size: 25px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #264734;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #1b1a1a;
    text-decoration: none;
}


/* footer right*/

.footer .footer-right {
    width: 35%;
}

.footer h2 {
    color: #044720;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.footer .menu {
    color: #264734;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer .menu a:hover {
    color: #a8fac3;
}

.footer .name {
    color: #011827;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

div .icons a{
    margin: 0!important;
    width: 80px!important;
    font-size: 30px!important;
}

@media (max-width: 767px) {
    .footer {
    font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    .footer .footer-center i {
    margin-left: 0;
    }
}