* {
    margin: 0;
    padding: 0!important;
}
html {
    font-family: 'jost', sans-serif;       /* <-------        fuente de la web */
}
body {
    margin: 0;
    background-image: url(../img/fondo-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Que hacemos page*/
section .subtituloQs,
.textoDisenos{
    text-align: $center;
    padding-left: $small!important;
    padding-right: $small!important;
}
section h3{
    font-size: $size-m;
    color: $color-h3;
}
.textoSuperior{
    padding: $medium!important;
}
.imagenQs,
.textoInferior{
    padding: $small!important;
}
.imgQh{
    @include flex (row, space-around, center);
    align-content: stretch;
}
.imgQh img{
    margin: $small;
    border: $size-sm;
    border-radius: $large;
}
.imgQh p{
    font-size: 20px;
    color: $color-p-qh;
}
.checkboxform{
    font-size: 23px;
    @include flex (row, center, none);
}
/*Articulo1 index*/
#text-center{
    text-align: $center;
}
div .media-body{
    padding: $small;
}
.media{
    padding: $small;
}
fieldset .mb-12{
    margin: $large;
}
section .md-form{
    padding: $small!important;
}
div .btn{
    color:$color-white!important;
    font-size: 20px;
}
/* articulo2 */
.card-title, .card-text{
    text-align: $center;
}
.img-center{
    text-align: $center!important;
    padding: 0.5rem!important;
}
.btn-sl{
    padding: $small!important;
}
.card-text{
    padding-top: 2rem!important;
}
#tipo-letra{
    font-size: larger;
    font-family: 'sans-serif';
}
.conteiner-recreacion{
    @include flex (row, center, none);
    align-content: space-around;
}
.disenosLogotipos,
.disenosPp{
    @include flex (none, none, none);
    justify-content: space-around;
}
.divwrap{
    @include flex (column, space-evenly, center);
    align-content: stretch;
}
#poster-portada,
#persona,
#banners,
#subrealismo,
#wallpapers{
    justify-content: space-evenly;
}
/*Cards-flip*/
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 0!important;
    background: none;
}
.divwrap div .card{
    position: relative;
    height: 380px!important;
    margin: 20px;
}
.card .face {
    position: absolute;
    width: $all;
    height: $all;
    backface-visibility: hidden;
    border-radius: $size-sm;
    overflow: hidden;
    transition: .5s;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px $color-black;
}
.card .front img {
    position: absolute;
    width: $all;
    height: $all;
    object-fit: cover;
    
}
.card .front h3 {
    position: absolute;
    bottom: 0;
    width: $all;
    height: 25px;
    line-height: 25px;
    color: $color-white;
    background: $color-black-claro;
    text-align: $center;
}
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: $bg-color-card-index;
    padding: 15px;
    color: $color-white;
    @include flex (column, space-between, none);
    text-align: $center;
    box-shadow: 0 5px $size-sm $color-black;
}
.card .back .link {
    border-top: solid 0 $color-white;
    height: $size-l;
    line-height: $size-l;
}
.card .back .link a {
    color: $color-white;
}
.card .back h3 {
    font-size: $size-m;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p {
    letter-spacing: 1px;
} 
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
/*carroussel*/
.carousel-item img{
    width: 33%!important;
    justify-items: $center!important;
}
.boton-galeria{
    text-align: $center!important;
}
/*mobile*/
@media screen and (min-width: 576px)and(max-width:767px){
    header {text-align: center;}
    .navbar-nav{
        font-size: 20px;
        font-weight: bold;
    }
    .conteiner-recreacion{
        @include flex (column, center, none);
        width: 100%;
    }
    .carousel{
        width: 100%;
    }
    .carousel-item img{
        width: 60%!important;
    }
    .footer{
        @include flex (column,none,center);
        .icons{
            display: flex;
            justify-content: center;
        }
    }
    .footer .menu{
        font-size: 14px;
    }
}
/*tablet*/
@media screen and (min-width: 768px)and(max-width:991px){
    .navbar-nav{
        font-size: 20px;
        font-weight: bold;
    }
    .conteiner-recreacion{
        @include flex (column, center, none);
        width: 100%;
    }
    .carousel{
        width: 100%;
    }
    .carousel-item img{
        width: 50%!important;
    }
    .footer{
        @include flex (none,space-between,center);
        .icons{
            display: flex;
            justify-content: center;
        }
    }
    .footer .footer-center{
        width: 40%!important;
    }
    .footer .footer-right {
        width: 50%;
        text-align: center;
    }
}
@media screen and (min-width: 992px)and(max-width:1200px){
    .carousel{
        width: 100%;
    }
    .carousel-item img{
        width: 28%!important;
    }
    .footer{
        @include flex (none,space-between,flex-start);
        .footer-center{
            width: 40%!important;
        }
        .footer-right{
            text-align: center;
        }
    }
}