.footer {
    background-color: $color-nav;
    width: $all;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: $size-l!important;
    margin-top: $size-l;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}
/* footer left*/
.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}
.footer .about {
    line-height: 20px;
    color: $color-text-footer;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.footer .about span {
    display: block;
    color: $color-text-footer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .icons a {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: $color-icons-footer;
    text-align: $center;
    line-height: 15px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* footer center*/
.footer .footer-center {
    width: 30%;
}
.footer .footer-center i {
    color: $color-icons-footer;
    font-size: 25px;
    width: 18px;
    height: 18px;
    text-align: $center;
    line-height: 22px;
    margin: $size-sm 15px;
    vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 18px;
}
.footer .footer-center p {
    display: inline-block;
    color: $color-text-footer;
    vertical-align: middle;
    margin: 0;
}
.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
}
.footer .footer-center p a {
    color: $color-black;
    text-decoration: none;
}
/* footer right*/
.footer .footer-right {
    width: 35%;
    text-align: center;
}
.footer h2 {
    color: $color-text-footer;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.footer .menu {
    color: $color-text-footer;
    margin: 20px 0 12px;
    padding: 0;
}
.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer .menu a:hover {
    color: $color-menu-hover;
}
.footer .name {
    color: $color-black;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
div .icons a{
    margin: 0!important;
    width: 80px!important;
    font-size: $size-m!important;
}
.footer .icons{
    padding-top: 2rem!important;
}
.footer-center{
    text-align: center;
}
@media (max-width: 767px) {
    .footer {
    font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
    display: block;
    width: $all;
    margin-bottom: 40px;
    text-align: center;
    }
    .footer .footer-center i {
    margin-left: 0;
    }
}