/*mobile*/
@media screen and (min-width: 576px)and(max-width:767px){
    header {text-align: center;}
    .d-flex {
        padding: 1rem!important;
    }
    div .navbar-nav{
        font-size: 30px!important;
        font-weight: bold;
    }
    nav div .navbar-nav #iconos-redes {
        display: none; 
    }
    .conteiner-recreacion{
        @include flex (column, center, none);
        width: 100%;
    }
    .carousel-item img{
        width: 70%!important;
    }
    .boton-galeria a{
        padding: 30px!important;
    }
    .boton{
        width: 60%!important;
    }
    .footer{
        text-align: center!important;
        @include flex (column,none,center);
        .icons{
            display: flex;
            justify-content: center;
            padding: 2rem!important;
        }
        .about{
            padding-bottom: 2rem!important;
        }
        span, p{
            font-size: 20px!important;
            padding: 2px;
        }
    }
    .footer .menu{
        font-size: 30px;
    }
}
/*tablet*/
@media screen and (min-width: 768px)and(max-width:991px){
    .d-flex {
        padding: 1rem!important;
    }
    nav div .navbar-nav #iconos-redes {
        display: none; 
    }
    .navbar-nav{
        font-size: 23px!important;
        font-weight: bold;
    }
    .conteiner-recreacion{
        @include flex (column, center, none);
        width: 100%;
    }
    .carousel{
        width: 100%;
    }
    .carousel-item img{
        width: 50%!important;
    }
    .footer{
        @include flex (column,space-around,center);
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2rem!important;
        }
        .about{
            font-size: 23px;
        }
        div{
            text-align: center;
            font-size: 22px;
        }
        .menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            a{
                padding: 0.5rem!important;
            }
        }
        h2{
            padding: 2rem!important;
        }
    }
    .footer .footer-center{
        width: 40%!important;
    }
    .footer .footer-right {
        width: 50%;
        text-align: center;
    }
}
/*Desktop*/
@media screen and (min-width: 992px)and(max-width:1200px){
    .carousel{
        width: 100%;
    }
    .carousel-item img{
        width: 28%!important;
    }
    .footer{
        @include flex (none,space-between,flex-start);
        .footer-center{
            width: 40%!important;
        }
        .footer-right{
            text-align: center;
        }
    }
}