.navbar-expand-lg{
    background-color: $color-nav;
}

.nav-item{
    padding: 0;
    padding-left: $small;
}

.bg-light{
    background-color: $color-nav-ul!important;
}

.ms-auto{
    @include flex (row, center, none);
    flex-wrap: wrap;
    padding:0 $small 0 $small;
}

.navbar-nav{
    font-size: large;
    align-items: $center;
}

#navbarSupportedContent{
    padding-right: 2vh!important;
}

.d-flex{
    padding-right: 3vh!important;
}

div .navbar-nav{
    padding: $size-sm;
}

nav div .navbar-nav #iconos-redes{
    margin: $small;
    font-size: 25px;
    color: $color-black;
}